# Copyright (c) 2022, Laird Connectivity
# SPDX-License-Identifier: Apache-2.0

if SOC_FAMILY_SOM8M

config SERIAL_INIT_PRIORITY
	default 55
	depends on SERIAL

source "soc/arm/lairdconnectivity/*/Kconfig.defconfig.series"

endif # SOC_FAMILY_SOM8M
